## BMIS-2542: Data Programming Essentials with Python
##### Katz Graduate School of Business, Spring 2021


## Session 1: Python Basics 
***

Welcome to **Data Programming Essentials with Python**!

Jupyter Notebook documentation is [here](http://jupyter-notebook.readthedocs.io/en/latest/index.html). 

A quick reference to Jupyter tips and tricks can be found [here](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/).

Markdown is a special markup language (a superset of HTML). Markdown's syntax documentation is [here](https://daringfireball.net/projects/markdown/syntax) and some cheat sheets like [this](https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed) can be quite handy.

Here's the [HTML color coding cheat sheet](https://www.w3schools.com/colors/colors_names.asp) in case you want to decorate your notebook.

Knowing the Keyboard shortcuts is useful too: <mark>ctrl + shift + p (Windows)</mark> and <mark>cmd + shift + p (mac)</mark>.

Let's get started!

In [1]:
print('Hi')

Hi

#### Comments
 - Any text preceded by the hash mark (pound sign) <b>#</b> is ignored by the Python interpreter 
 - Useful to explain your code and also when you want to exclude certain blocks of code without deleting them

In [2]:
# this will print Hello Python! to the output.
print("Hello Python!") # This is a comment

Hello Python!

# Python Language Basics

### Python Scalar Types
 - Python has a small set of built-in types to handle numerical data, strings, boolean (True or False) values, and date and time. These are called scalar types or scalars. 
 - A scalar is a type that can have a single value such as 2, 7.14, or "Anne".
 - The commonly used scalar types in Python:
         - int (integer)
         - float (floating point number)
         - bool (True or False value)
         - str (String)
         - None (the Python "null" value)

In [3]:
type(5)

int

In [4]:
type(1.75)

float

In [5]:
type("Hello!")

str

In [6]:
type("5")

str

In [7]:
type(True)

bool

"None" is the Python null value type. "None" is also a reserved keyword in Python. Every instance of "None" is of NoneType.

In [8]:
a = None

a is None

True

In [9]:
b = 5
b is not None

True

In [10]:
type('')

str

### Type casting

The `str`, `bool`, `int`, and `float` types can be used as functions to cast values to those types.

In [11]:
num_string = '2.14159'

In [12]:
type(num_string)

str

In [13]:
# question mark pops up the documentation
float?

In [14]:
fval = float(num_string)

In [15]:
type(fval)

float

In [16]:
int(fval)

2

In [17]:
a = 5.2
s = str(a)
type(s)

str

### Variables

Variables indicate stored information in the computer's memory. 
 - <mark>Variable names usually begin with an \_ (underscore) or a letter, not a number.</mark>
 - You can create a new variable and assign a value to it using **assignment** statements. e.g., `x = 5`<br>
   The `=` symbol is called the **assignment operator** and notifys Python to store the data on the right side of the  statement into the variable name printed on the left side (i.e., `x`).
 - When assigning a variable in Python, you are actually creating a reference to the object in the right hand side of the equal sign
 - Assignments are unidirectional in Python
 - Variable names are case sensitive.
 - Python's keywords cannot be used as variable names

In [18]:
greeting = 'Have a Lovely Day!' 
greeting

'Have a Lovely Day!'

In [19]:
n = 100  
n

100

In [20]:
100 = n # Assignments are unidirectional

SyntaxError: cannot assign to literal (<ipython-input-20-567ec76353a9>, line 1)

In [21]:
pi = 3.1428571428571428571428571428571
pi

3.142857142857143

In [22]:
1stName = 'John' # Variable starting with a number

SyntaxError: invalid syntax (<ipython-input-22-315ce2475b02>, line 1)

In [23]:
firstName = 'Harry'
lastName = 'Potter'
print(firstName)

Harry

In [24]:
print(lastname)

NameError: name 'lastname' is not defined

In [25]:
place@ = 'Pittsburgh'

SyntaxError: invalid syntax (<ipython-input-25-82959e4fc008>, line 1)

In [26]:
class = 'Quantum Physics'

SyntaxError: invalid syntax (<ipython-input-26-c9c716d673e8>, line 1)

### Binary Operators and Comparisons

Most of the binary math operations and comparisons are as you might expect.  <br>
It is a good practice to surround the following binary operators with a single space on either side:
 - assignment (=)
 - augmented assignment (+=, -=)
 - comparisons (==, <, >, !=, <=, >=, `in`, `not in`, `is`, `is not`)
 - Booleans (`and`, `or`, `not`)

In [27]:
5+7.3

12.3

In [28]:
10-2.5

7.5

In [29]:
20*5

100

In [30]:
10/3

3.3333333333333335

In [31]:
10//3 # Floor devide 10 by 3. largest integer not greater than 10/3

3

In [32]:
2**3 # 2, raised to the third power

8

In [33]:
10%3 # modulo operator yields the remainder after division. To see how this operator works with negative numbers, read this: https://julianpark.me/posts/python-modulo

1

When there are multiple operators in an expression evaluation depends on the order of operations. PEMDAS [Order of operations](https://docs.python.org/3.6/reference/expressions.html#operator-precedence) is expected.

In [34]:
(1+1)**(5-2)

8

In [35]:
1 + 2**3

9

### Boolean Logic
There are two boolean values: `True` and `False`.<br>
`True` and `False` can be assigned to variables just like strings or numbers.

Logical operators for boolean values: `==`, `!=`, `and`, `or`, and `not`

 - **<mark>Equivalence</mark>**: <br>**`a == b`** evaluates to `True` if both `a` and `b` are the same. 
     - Both `a` and `b` are `True`
     - Both `a` and `b` are `False`  

 - **<mark>Negation</mark>**: <br>**`a != b`** evaluates to `True` when `a` and `b` are not the same.
     - `a` is `True` and `b` is `False` 
     - `a` is `False` and `b` is `True`
    
 - **<mark>and</mark>**:<br> **`a and b`** evaluates to `True` when both `a` and `b` are `True`
  - `a` is `True` and `b` is `True`
    
 - **<mark>or</mark>**:<br> **`a or b`** evaluates to `True` when `a` is `True` or `b` is `True` 
  - `a` is `True` and `b` is `True`
  - `a` is `True` and `b` is `False`
  - `a` is `False` and `b` is `True`
 - **<mark>not</mark>**:<br> `not a` evaluates to `True`when `a` is `False`, and to `False` when `a` is `True`

Can you complete the following truth table?

|`a`|`b`|`a == b`|`a != b`|`a and b`|`a or b`|`not a`|
|---|---|---|---|---|---|---|
|False|False|True|False|False|False|True|
|False|True||||||
|True|False||||||
|True|True||||||

In [36]:
# test it!
a = False
b = False

a == b

True

In [37]:
x = 10
x = 5
x

5

In [38]:
# Comparison (Relational) Operators: ==, !=, >, <, >=, and <=

a, b = 2, 7 # Multiple assignments in one go
a == b # Returns True if a equals b

False

In [39]:
a!=b # Returns True if a is not equal to b

True

In [40]:
a < b # Returns True if a is less than b. Use <= for less than or equal

True

In [41]:
a > b # Returns True if a is greater than b. Use >= for greater than or equal

False

In [42]:
a > 1 and b > 1  # Both conditions must be satisfied (i.e., a is greater than 1 AND b is greater than 1)

True

In [43]:
a > 1 and b > 8

False

In [44]:
a > 1 or b > 8

True

In [45]:
# "is" evaluates to True if the variables on either side of the operator point to the same object and False otherwise
x = 'hello'
y = x
y is x

True

In [46]:
y is not x

False

### String Operations

In [47]:
# You can have single or double quotes to represent strings
print('Hello World')

Hello World

In [48]:
print("Hello World!")

Hello World!

In [49]:
print('Hello' + 'World')

HelloWorld

In [50]:
len('Python')

6

In [51]:
print('Hello' + 5)

TypeError: can only concatenate str (not "int") to str

In [52]:
print('Python' * 5)

PythonPythonPythonPythonPython

In [53]:
print('Hello' * 'Python')

TypeError: can't multiply sequence by non-int of type 'str'

In [54]:
myName = input('What is your name?')
print('Hi' , myName)

What is your name?Stephen
Hi Stephen

In [56]:
price = float(input('What is your price?'))
print('Your price is ' + str(price))

What is your price?3
Your price is 3.0

Many Python objects can be converted to a string using the `str` function.

In [57]:
s = 'python'
s[0] # the character at index 0

'p'

In [58]:
s[1:4]

'yth'

In [59]:
s[:2] # slicing from the beginning of the string

'py'

In [60]:
s[4:] # slicing from middle to end

'on'

#### String Formatting

In [61]:
first_name = "Mary"
last_name = "Smith"
age = 24

In [62]:
print ('She is {0} {1} and she is {2} years old.'.format(first_name, last_name, age))

She is Mary Smith and she is 24 years old.

In [63]:
print('She is {} {} and she is {} years old.'.format(first_name, last_name, age))

She is Mary Smith and she is 24 years old.

In [64]:
print ('She is {2} years old and she is {0} {1}.'.format(first_name, last_name, age))

She is 24 years old and she is Mary Smith.

 - The backslash character `\` is an *escape character*, which means that it is used with special characters.
 - E.g., `\'` (single quote), `\"` (double quote), `\t` (tab), `\n` (new line), `\\` (Backslash)
 - If you need to write a string literal with special characters you need to escape them with a backslash.

In [65]:
print('That is Shakya's Cat!')

SyntaxError: invalid syntax (<ipython-input-65-2e7ddc7d15b7>, line 1)

In [66]:
print('That is Shakya\'s Cat!')

That is Shakya's Cat!

### Try it out

Write a print statement to produce the following output:

`Hey, what's up?
I'm doing fine`

In [69]:
print('Hey, what\'s up?) 
\n print('I\'m doing fine)

SyntaxError: EOL while scanning string literal (<ipython-input-69-31e3c85bff62>, line 1)

#### Multiline Strings
A multiline string begins and ends with three single quotes or three double quotes.

In [ ]:
print('''Dear Amy,

Shakya's cat has been arrested for cat burglary.

Sincerely,
Bob''')

### Try it out
Can you write code to produce the output above, without using the multiline strings?

### Useful String Methods

In [70]:
myStr = 'Hello World!'

In [71]:
myStrUpper = myStr.upper()
myStrUpper

'HELLO WORLD!'

In [72]:
print(myStrUpper.lower())

hello world!

In [73]:
'HELLO'.isupper()

True

In [74]:
'abc123'.islower()

True

In [75]:
'Hello'.upper().lower().upper()

'HELLO'

In [76]:
'Hello'.upper().isupper()

True

In [77]:
'hello'.isalpha() # returns True if the string consists of only letters

True

In [78]:
'hello123'.isalpha()

False

In [79]:
'hello123'.isalnum() # returns True if the string consists only of letters and numbers

True

In [80]:
'123'.isdecimal() # returns True if the string consists only of numeric characters

True

In [81]:
' '.isspace() # checks for spaces, tabs, and new lines

True

#### Join, Split, and Strip

In [82]:
', '.join(['cat','bat', 'rat']) # to combine a list of words with a comma followed by a space

'cat, bat, rat'

In [83]:
' '.join(['My','name', 'is', 'Harry'])

'My name is Harry'

In [84]:
'*'.join(['My','name', 'is', 'Harry'])

'My*name*is*Harry'

In [85]:
'My name is Harry'.split()

['My', 'name', 'is', 'Harry']

In [86]:
'My*name*is*Harry'.split('*')

['My', 'name', 'is', 'Harry']

In [87]:
myStr = '    Hello   ' # remove white space
myStr.strip()

'Hello'

In [88]:
myStr.lstrip()

'Hello   '

In [89]:
myStr.rstrip()

'    Hello'

## Imports
 - <b>Module</b>: A file with <i>.py</i> extension containing Python code

In [90]:
import keyword
keyword.kwlist # we are using the kwlist function of the keyword module

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [91]:
numbers = [1,2,3,4,5] # a list of numbers

In [92]:
import statistics

mean = statistics.mean(numbers)
print(mean)

3

In [93]:
import statistics as s

mean1 = s.mean(numbers)
print(mean1)

3

In [94]:
from statistics import mean

mean2 = mean(numbers)
print(mean2)

3

In [95]:
from statistics import mean as m
mean3 = m(numbers)
print(mean3)

3

In [96]:
from statistics import mean, median
mean4 = mean(numbers)
median = median(numbers)
print(mean4)
print(median)

3
3

### References
 - Python for Data Analysis 2<sup>nd</sup> edition - Wes McKinney O'RIELLY
 - [Automate the Boring Stuff with Python](https://automatetheboringstuff.com/) by Al Sweigart.
 - Think Python 2<sup>nd</sup> edition ---[PDF](http://greenteapress.com/thinkpython2/thinkpython2.pdf) book